<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('../layouts/include_header.ejs') %>
    <link rel='stylesheet' href='/stylesheets/css/index.css' />
  </head>
  <body>
      <%- include('../layouts/loading.ejs') %>
    <div class="container mainContainer indexContainer">
      <div class="loginContainer inLogin">
      <div class="panelDeco">
          <div class="panelDecoTitle">
              <h4>政治大學</h4>
              <h5><span>體重管理系統</span></h5>
          </div>
        </div><div class="loginPanel">
          <h5 class="bold" style="margin-top: 15px;margin-left: 15px;">管理者登入</h5>
          <div class="inputForm loginInputForm">
              <div class="inputUnit">
                <h5>帳號</h5>
                <input name="loginAccount" type="text" placeholder="請輸入帳號/Email" />
              </div> 
              <div class="inputUnit">
                <h5>密碼</h5>
                <input name="loginPass" type="password" placeholder="請輸入密碼" />
              </div> 
              <div class="btnGroup two">
                <button class="submitLogin">登入</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    $('document').ready(function(){
      $('body').on('click', '.submitLogin', function(){
        async.waterfall([
          function(next){
            next(null, {
              account: $('input[name=loginAccount]').val(),
              password: $('input[name=loginPass]').val(),
            });
          },
        ], function(err, rst){
            if ( err ) throw err;  // 匯集 err1 err2 err3
            else {
              $('.webLoader').fadeIn(500).css('display','flex');
              $.post('/admin/ajax_login', rst, function(rtn){
                $('.webLoader').fadeOut(500);
                if ( rtn.status ){
                  window.location = '/admin/selectUser';
                } else {
                  toast('帳號密碼錯誤', 'danger');
                }
              });
            }
        });
      });
    });
  </script>
</html>
